.content-wrapper{
    .main-content{
        .home-container{
            color: white;
            padding: 1.5rem 2rem;
            .card{
                border-radius: .75rem;
                padding: .5rem 1rem;
                -webkit-box-shadow: 2px 2px 8px -1px rgba(0, 0, 0, 0.35);
                -moz-box-shadow: 2px 2px 8px -1px rgba(0, 0, 0, 0.35);
                box-shadow: 2px 2px 8px -1px rgba(0, 0, 0, 0.35);
                background-color: #26293c;
                .card-text{
                    color: rgb(146, 146, 146) !important;
                    font-size: .9rem;
                }
                .card-subtitle{
                    font-weight: normal;
                    color: #676877 !important;
                }
                .card-title{
                    font-size: 2rem;
                    color: rgb(192, 192, 192) !important;
                }
            }
        }
    }
}