@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@1,300&display=swap');

.content-wrapper {
  margin-top: 60px;
  .main-content {
    .my-title {
      font-family: 'Urbanist', sans-serif;
    }
    margin-left: 20%;
    width: 80%;
    .btn-primary {
      background-color: #65375eb6 !important;
      border: rgb(44, 12, 44) !important;
      transform: all 0.3s ease-in-out !important;

      &:hover {
        background-color: #65375e !important;
      }

      &:focus {
        outline: none !important;
        box-shadow: none !important;
      }

      &:active {
        background-color: #65375eb6 !important;
        border: rgb(44, 12, 44) !important;
        transform: all 0.3s ease-in-out !important;
      }
    }
    .form-wrapper,
    .mail-wrapper {
      background-color: #26293c !important;
      border-radius: 1rem !important;
      -webkit-box-shadow: 2px 2px 8px -1px rgba(0, 0, 0, 0.35) !important;
      -moz-box-shadow: 2px 2px 8px -1px rgba(0, 0, 0, 0.35) !important;
      box-shadow: 2px 2px 8px -1px rgba(0, 0, 0, 0.35) !important;
      background-color: #26293c !important;

      .form-container {
        padding: 2rem 1rem !important;

        .form-label {
          color: #848b88 !important;
          font-size: 0.8rem !important;
        }

        .form-group {
          padding-bottom: 0.75rem !important;

          &:last-child {
            padding-bottom: 0rem !important;
          }

          input {
            color: rgb(206, 206, 206) !important;
          }
        }
      }

      .form-control {
        background-color: #42466149 !important;
        border: 0.5px solid #65375e7c !important;
        transition: all 0.3s ease-in-out !important;
        position: relative !important;

        &:focus {
          border-color: #65375ee7 !important;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
            0 0 8px rgba(60, 55, 88, 0.6) !important;
        }

        &::-webkit-input-placeholder {
          color: #b1b1b1 !important;
        }
      }

      .error {
        border: 2px solid rgb(153, 51, 51) !important;
      }
    }
  }
}
