.main-content {
  .users-container {
    padding: .6rem 2rem;
    .MuiDataGrid-root {
        -webkit-box-shadow: 2px 2px 8px -1px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 2px 2px 8px -1px rgba(0, 0, 0, 0.35);
        box-shadow: 2px 2px 8px -1px rgba(0, 0, 0, 0.35);
        background-color: #26293c;
        border: none;
    }
    .MuiDataGrid-root{
        color: #83838e;
    }
    .MuiIconButton-label {
        color: #83838e;
    }
    .MuiDataGrid-sortIcon {
        &:hover{
            color: white;
        }
    }
    .MuiTablePagination-caption{
        color: #83838e;
    }
    .MuiDataGrid-columnHeaderWrapper {
        background-color: #121527;
    }
  }
}
